<footer class="site-footer">

  <div class="wrapper">
    <br>
    <h2 class="footer-heading">Yhteystiedot</h2>

    <div class="footer">

        <h3 class="contact-list">
        <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}

        </li>
        <li>
            {% if site.phone %}
            Puhelin:
            <span id="reverse">
              <a href="tel:{{ site.phone_dir | encode_email }}{{ site.phone | encode_email }}">
              <span class="phone" data-phone_dir='{{ site.phone_dir | split: "" | reverse | join: ""}}' data-phone='{{ site.phone | split: "" | reverse | join: ""}}'><span class="spamprotection">123123</span></span>
              </a>
            </span>
            {% endif %}
        </li>
        <li>
            {% if site.user && site.website %}

            Sähköposti: 
            <span id="reverse">
                <a href="mailto:{{ site.user | encode_email }}@{{ site.website | encode_email }}">
                <span class="e-mail" data-user='{{ site.user | split: "" | reverse | join: "" }}' data-website='{{ site.website | split: "" | reverse | join: ""}}'></span>
              </a>
            </span>
            {% endif %}
        </li>
        </h3>
        <br>
        <div class="social-media-list">
          {% if site.instagram_username %}
          <li>
          <a href="https://www.instagram.com/{{site.instagram_username}}/">
              <i class="fa fa-instagram" ></i><b> {{site.instagram_username}}</b>
          </a>
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
          <a href="https://www.gitlab.com/{{site.gitlab_username}}/">
              <i class="fa fa-gitlab" ></i><b> {{site.gitlab_username}}</b>
          </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </div>


    </div>

  </div>
  <p><small class="copyright">&copy; {{ site.website }} {{ site.copyright }} | <span id="copyyear"></span></small></p>
</footer>
