---
---
head {
}

body {
	border-top: 6px solid #000;
	color: transparent;
	margin: 0 auto 6px;
	padding: 0;
	height: 100%;
	overflow: visible;
	}

#bg {
  	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	}

.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
	}

#container {
	max-width: 600px;
	width: 60%;
	min-width: 260px;
	text-align: center;
	position: relative;
	padding: 25px;
	background: rgba(255,255,255,0.9) none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 30px auto;
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	/* Scale origin */
	}

body {
	font-family: -apple-system, BlinkMacSystemFont,
	'avenir next', avenir,
        'helvetica neue', helvetica,
	ubuntu,
	roboto, noto,
	'segoe ui', arial,
	sans-serif;
	font-size: 16px; /* Scale origin */
	color: #000000;
	line-height: 1.5;
	}

h1 {
	margin: 0;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 700;
	}

h2 {
	margin: 0;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 0.6.em;
	}

h3 {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 0.6.em;
	color: #000000;
	}

p {
	margin: 16px 0 0;
	}

a {
	color:#357edd;
	text-decoration: none;
	}

a:visited{
	color:#96ccff;
  	}

a:hover{
	color:#00449e;
  	}

a:focus{
	color:#009eff;
	}

a:active{
	color:#001b44;
	}

.task-list {
	list-style: none;
	}
		
/**
 * Site footer
 */

.site-footer {
	padding: 0;
	}

.footer-heading {
	margin-bottom: 1em;
	}

.contact-list {
	list-style: none;
	margin-left: 0;
	}

.social-media-list {
	font-size: 16px;
	list-style: none;
	margin-left: 0;
}

.contact-list a {
	color: #357edd;
	text-decoration: none;
	}

.social-media-list a {
   /* color: white;*/
}

.social-media-list .fa {
    vertical-align: middle;
    font-size: 30px;
}
.social-media-list a[href="https://www.instagram.com/{{site.instagram_username}}/"] .fa {
    background: -webkit-linear-gradient(90deg, #fdf497 0%, #fdf497 2%, #fd5949 30%,#d6249f 60%,#285AEB 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-media-list a[href="https://www.gitlab.com/{{site.gitlab_username}}/"] .fa {
    color: #fca326;
}

.contact-list a:hover,
.social-media-list a:hover {
	color: #357edd;
	}

.social-media-list a[href="https://www.instagram.com/{{site.instagram_username}}/"] :hover {
    background: -webkit-linear-gradient(90deg, #fdf497 0%, #fdf497 2%, #fd5949 30%,#d6249f 60%,#285AEB 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-media-list a[href="https://www.gitlab.com/{{site.gitlab_username}}/"] :hover {
    color: #fca326;
}

.social-media-list .icon {
	vertical-align: text-top;
	}

span.spamprotection {display:none;}

#reverse {
	direction: rtl;
	unicode-bidi: bidi-override;
	}

.e-mail:before {
	content: attr(data-website) "\0040" attr(data-user);
	}

.phone:before {
	content: attr(data-phone) " " attr(data-phone_dir);
	}
