<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

<body>
  <main class="page-content" aria-label="Content">
    <div id="bg" class="bg-image" style="margin: 0;
  padding: 0; background: url({{site.url}}/images/background.jpg)  no-repeat left center / cover; opacity:1.0">
  </div>

<div id="container">
  <img src="{{site.url}}/images/dronebro.svg" alt="logo" class="responsive">
  {{ content }}
  {% include footer.html %}

</div>

</body>
<script src="assets/main.js"></script>
</html>
